/*  04. banner section css here  */
.banner_area{
    @media #{$large-mobile}{
       margin-bottom: 27px;
    }
    &.mb-46{
        @media #{$large-mobile}{
            margin-bottom: 25px;
        }
    }
}
.single_banner{
    @media #{$large-mobile}{
        margin-bottom: 30px;
    }
}
.banner_thumb{
    position: relative;
    overflow: hidden;
    &:hover{
        &::before{
             width: 90%;
        }
        &::after{
            height: 90%;
        }
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 90%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        pointer-events: none;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        height: 0;
        width: 90%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        -webkit-transition: all 300ms ease;
        transition: all 300ms ease;
        pointer-events: none;
    }
    & a{
        @media #{$large-mobile}{
           width: 100%;
        }
        & img{
            @include transition(.3s);
            @media #{$large-mobile}{
               width: 100%;
            }
        }
    }
}

.banner_conent{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
    text-align: center;
    & h3{
        font-size: 24px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 10px;
        @media #{$desktop-device}{
            font-size: 20px;
            line-height: 20px;
        }
        @media #{$tablet-device}{
            font-size: 14px;
            line-height: 16px;
        }
        @media #{$large-mobile}{
            font-size: 15px;
            line-height: 15px;
            margin-bottom: 7px;
        }
    }
    & h2{
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 10px;
        font-weight: 900;
        text-transform: uppercase;
        color: $white;
        @media #{$desktop-device}{
            font-size: 50px;
            line-height: 50px;
        }
        @media #{$tablet-device}{
            font-size: 30px;
            line-height: 30px;
        }
        @media #{$large-mobile}{
            font-size: 40px;
            line-height: 40px;
            margin-bottom: 6px;
        }
    }
    & p{
        font-size: 18px;
        line-height: 20px;
        color: $white;
        font-weight: 700;
        @media #{$tablet-device}{
            font-size: 15px;
        }
        @media #{$large-mobile}{
            font-size: 14px;
            line-height: 18px;
        }
        & span{
            display: block;
        }
    }

}




/*home two css here*/

.single_banner{
    &.box_4{
        & .banner_thumb{
            &:hover{
                &::before{
                    width: 94%;
                }
            }
            &::after{
                width: 94%;
            }
        }
    }
}

.banner_style_two{
    @media #{$large-mobile}{
        margin-bottom: 57px;
    }
    & .banner_thumb{
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
        & a{
            & img{
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    &.mb-70{
        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
    }
}


.banner_area_two{
    @media #{$large-mobile}{
        margin-bottom: 27px;
    }
    & .banner_thumb{
        & a{
            & img{
                @media #{$tablet-device}{
                    width: 100%;
                }
                @media #{$large-mobile}{
                    width: 100%;
                }
            }
        }
    }
    & .single_banner{
        &.box_1{
            @media #{$tablet-device}{
                margin-bottom: 30px;
            }
            @media #{$large-mobile}{
                margin-bottom: 30px;
            }
        }
    }
}

.banner_four{
    @media #{$large-mobile}{
        margin-bottom: 25px
    }
    & .banner_thumb{
        &:hover{
            &::before{
                width: 95%;
            }
        }
        &::after{
            width: 95%;
        }
    }
}

/*home five css here*/
.banner_five_area{
    @media #{$large-mobile}{
        margin-bottom: 26px
    }
    & .banner_thumb{
        &:hover{
            &::before{
                width: 95%;
            }
        }
        &::after{
            width: 95%;
        }
    }
}


/*home six css here*/
.banner_style_six{
    @media #{$large-mobile}{
        margin-bottom: 27px;
    }
    & .single_banner{
        &:hover{
            & .banner_conent{
                opacity: 1;
            }
        }
    }
    & .banner_thumb{
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    & .banner_conent{
        width: 85%;
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 30px 25px;
        background: rgba(255,255,255,0.8);
        @include transition(.3s);
        opacity: 0;
        @media #{$desktop-device}{
            padding: 20px 25px;
        }
        @media #{$tablet-device}{
            padding: 15px 16px;
        }
        @media #{$large-mobile}{
            padding: 20px 20px;
        }
        & h3{
            font-size: 14px;
            line-height: 14px;
            font-weight: 600;
            font-family: $Montserrat;
            color: $fonts_color;
            margin-bottom: 10px;
            @media #{$desktop-device}{
               font-size: 12px;
                margin-bottom: 6px;
            }
             @media #{$tablet-device}{
                font-size: 11px;
                 margin-bottom: 2px;
            }
            @media #{$large-mobile}{
                font-size: 10px;
                margin-bottom: 5px;
            }
        }
        & h2{
            font-size: 22px;
            line-height: 22px;
            font-weight: 600;
            font-family: $Montserrat;
            color: $fonts_color;
            margin-bottom: 18px;
            @media #{$laptop-device}{
               font-size: 20px;
            }
            @media #{$desktop-device}{
               font-size: 15px;
                line-height: 19px;
                margin-bottom: 12px;
            }
            @media #{$tablet-device}{
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 7px;
            }
            @media #{$large-mobile}{
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 8px;
            }
        }
        & h1{
            font-size: 40px;
            line-height: 40px;
            font-weight: 700;
            letter-spacing: 2px;
            margin-bottom: 0;
            @media #{$desktop-device}{
                font-size: 30px;
                line-height: 30px;
            }
            @media #{$tablet-device}{
                font-size: 19px;
                line-height: 18px;
            }
            @media #{$large-mobile}{
                font-size: 17px;
                line-height: 20px;
            }
        }
        & a{
            height: 36px;
            line-height: 34px;
            border: 1px solid $secondary_color5;
            font-size: 13px;
            color: $secondary_color5;
            text-transform: uppercase;
            padding: 0 20px;
            display: inline-block;
            font-weight: 700;
            margin: 21px 0 0;
            @media #{$desktop-device}{
                height: 33px;
                line-height: 31px;
                margin: 17px 0 0;
                padding: 0 15px;
            }
            @media #{$tablet-device}{
                height: 31px;
                line-height: 29px;
                font-size: 12px;
                padding: 0 13px;
                margin: 13px 0 0;
            }
            @media #{$large-mobile}{
                height: 30px;
                line-height: 28px;
                padding: 0 12px;
                margin: 12px auto 0;
                max-width: 110px;
                font-size: 12px;
            }
            &:hover{
                background: $secondary_color5;
                color: $white;
            }
        }
    }
}






/*home eight css here*/
.banner_area_eight{
    @media #{$large-mobile}{
        margin-bottom: 27px;
    }
    & .banner_thumb{
        &:hover{
            &::before{
                width: 95%;
            }
            &::after{
                height: 95%;
            }
        }
        &::before{
            height: 95%;
        }
        &::after{
            width: 95%;
        }
    }
}



.banner_eight_left{
    & .single_banner.box_1{
        @media #{$tablet-device}{
            margin-bottom: 21px;
        }
    }
}













